<!DOCTYPE html>
<html>
<head>
  <title>Todomvc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.min' %>

  <%= javascript_include_tag 'popper', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>
	<div class="text-right">
		Find the code under MIT License at <a href="https://github.com/kostopoulos/todo_mvc" target="_blank"> <%= render file: Rails.root.join('app', 'assets', 'images', 'mark-github.svg') %> </a>
    </div>
</footer>
</html>
